{% extends 'layout.html' %}

{% block body %}
<h5>About</h5>

<p>
  EcoView is a cloud-based smart-recycling module aimed at both reducing waste and increasing human efficiency. Each of the six recepticle totes is constantly monitored by means of sensors to relay the amount of contents to the cloud. That way, logistics around collection can be coordinated remotely, without the need to physically visit the location just to see if totes are full. Individual deposits are also tallied by category and relayed to the cloud.
</p>

<p>
  Plastics destined for recycling plants are around 40% more valuable when sorted by their composite categories, which are universally indicated by a number within the recycling logo, usually on the underside of the item. These numbers - <strong>One</strong> through <strong>Seven</strong> - tell which type of material the plastic is made from, and thus how to go about processing it for post-consumer use. A <strong>Seven</strong> indicates it is a composite material, unclassified, and of little value to recyclers, since some plastics in this category may contain toxins. For these reasons, among others, we consider type 7 plastics to be of little benefit regarding inclusion in this project.
</p>

<p>
  In addition to increasing logistical efficiency and value of recycleables, we also maintain a focus on the smart technologies that can be of benefit in an area such as this, such as computer vison and machine learning. Data science is a fast-growing field with individuals and companies alike all looking to leverage it in their fields. However, data collection can be difficult, expensive, and time-consuming, meaning that high-quality public data sets are highly sought after. By crowdsourcing data collection to the end-users of EcoView, each time an object is scanned by our camera the data is added to our archive, allowing it to increase in size over time with little additional work. This ever-growing image library is free to download, use, and manipulate for your own applications.
</p>

<hr>

<h5>We are...</h5>

<li>Software Lead: Michael Lawrenson</li>
<li>Image Lead: Osama Abaali</li>
<li>Microcontroller Lead: Justin Strzuk</li>
<li>Peripherals Lead: Lee Yanting</li>
{% endblock %}
