{% extends 'layout.html' %}

{% block body %}
<h1>Add Device</h1>
{% from "includes/_formhelpers.html" import render_field %}
<form method="post" action="">
  <div class="form-group">
    {{ render_field(form.machine, class_="form-control") }}</div>
  <div class="form-group">
    {{ render_field(form.nickname, class_="form-control") }}</div>
    <div class="form-group">
      {{ render_field(form.ip_address, class_="form-control") }}</div>
      <div class="form-group">
        {{ render_field(form.token, class_="form-control") }}</div>
        <div class="form-group">
          {{ render_field(form.latitude, class_="form-control") }}</div>
          <div class="form-group">
            {{ render_field(form.longitude, class_="form-control") }}</div>
            <div class="form-group">
              {{ render_field(form.configvariables, class_="form-control") }}</div>
<p><input type="submit" class="btn btn-primary" value="Submit"></p>
</form>
{% endblock %}
