{% extends 'layout.html' %}

{% block body %}

<!-- <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/SAKGwKC/cartoon-cloud-animation-with-loop_v211ezdke__F0005.png" width="30" height="30" class="d-inline-block align-top" alt=""> -->
<!-- {{ some_json }} -->
{{ unverified_text }}
<!-- *** this code forces a download. figure out why *** -->
<!-- <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/SAKGwKC/cartoon-cloud-animation-with-loop_v211ezdke__F0005.png" allowfullscreen></iframe>
</div> -->
{% endblock %}
