{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron-fluid text-center">

  <h1>Welcome to EcoView</h1>
  <h1>♳ ♴ ♵ 📸 ♶ ♷ ♸</h1>
  <p class="lead">EE494 Capstone Design, Spring 2019</p>

  {% if session.logged_in == NULL %}
  <a href="/register"class="btn btn-outline-dark">Register</a>
  <a href="/login"class="btn btn-outline-dark">Login</a>
  {% endif %}
</div>


<!-- EMBED VISUALS HERE -->

<div>
<!-- TOP GAUGE CHART(S) -->
<canvas id="myChart" width="600" height="100"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
  Chart.defaults.scale.gridLines.display = false;
  var ctx = document.getElementById('myChart').getContext('2d');
  var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'bar',

      // The data for our dataset
      data: {
          labels: ["PET", "HDPE", "PVC", "LDPE", "PP", "PS"],
          datasets: [{
              label: "My First dataset",
              backgroundColor: 'rgb(100, 100, 255)',
              borderColor: 'rgb(255, 99, 132)',
              data: [15, 45, 5, 2, 20, 30],
          }]
      },

      // Configuration options go here
      options: {}
  });
</script>
</div>


<!-- END OF VISUALS -->
{% endblock %}
