<!DOCTYPE html>
<html lang="en" dir="ltr">
<div class="container-fluid">
<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='icons/recycle_16.ico') }}">

  <meta charset="utf-8">
  <title>EcoView</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
  {% include 'includes/_navbar.html' %}
  <div class="container">
    {% include 'includes/_messages.html' %}
    {% block body %}{% endblock %}
  </div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></script>
  <script src="//cdn.ckeditor.com/4.11.3/basic/ckeditor.js"></script>
  <script type="text/javascript">CKEDITOR.replace('editor')</script>
</body>
</div>
</html>
